section {
    margin-bottom: 90px;
    .title {
        text-align: center;
        color: $primaryDark;
        h3 {
            font-size: $title-xs;
            font-weight: 700;
        }
        p {
            color: $primaryLight;
            font-size: $body-md;
            font-weight: 300;
        }
    }
}
#hero {
    margin-top: 90px;
}

#categories {
    .category-list {
        margin-top: 75px;
        ul {
            @include flex-center-vert;
            flex-wrap: wrap;
        }
        .destination {
            @include flex-center;
            @include mq-large {
                display: block;
                text-align: center;
            }
            @include mq-medium {
                margin-top: 25px;
            }
            &__rounded {
                @include box(150px);
                border-radius: 100vw;
                box-shadow: 0 4px 15px rgba($gray-500, 0.25);
                @include mq-large {
                    text-align: center;
                    margin: auto;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &__title {
                margin-left: 25px;
                color: $primaryDarker;
                span {
                    display: inline-block;
                    margin: 15px 0;
                    padding: 5px 10px;
                    border-radius: 30px;
                    background: #fff;
                    p {
                        text-align: center;
                    }
                }
                @include mq-medium {
                    margin-top: 25px;
                }
            }
        }
    }
}

#slider {
    .main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 75px;
        .text {
            .box {
                margin: 75px 0;
                padding-right: 150px;
            }
            h4 {
                font-family: "Mulish", Arial, Helvetica, sans-serif;
                font-size: $body-xl;
                font-weight: 700;
                line-height: 2.5;
                color: $primaryDarker;
            }
            p {
                font-size: $body-sm;
                color: $primaryLight;
                font-weight: 300;
            }
            button {
                border-radius: 50px;
                padding: 10px;
            }
        }
        .slider {
            position: relative;
            &__wrapper {
                position: relative;
                background: $primaryLight;
                height: 550px;
                width: 450px;
                border-radius: 20px;
                box-shadow: 0 4px 15px rgba($gray-500, 0.25);
                .arrows {
                    position: absolute;
                    right: 25px;
                    top: 25px;
                    button {
                        border: none;
                        background: transparent;
                    }
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
            &__rewiews {
                .rewiew {
                    @include flex-center-vert;
                    padding: 5px;
                    background: #fff;
                    border-radius: 50px;
                    box-shadow: 0 4px 15px rgba($gray-500, 0.25);
                    max-width: 200px;
                    position: absolute;
                    &__img {
                        margin-left: 2.5px;
                    }
                    &__info {
                        margin-left: 10px;
                        margin-right: 20px;
                    }
                }
                .rewiew:first-child {
                    top: 50px;
                    left: -50px;
                }
                .rewiew:last-child {
                    bottom: 100px;
                    right: 175px;
                }
            }
        }
    }
}

#featured {
    .main {
        @include flex-center-horiz;
        flex-wrap: wrap;
        margin-top: 75px;
        .card {
            margin-bottom: 50px;
        }
    }
}

#showcase {
    .main {
        margin-top: 75px;
    }
    .swiper-slide {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        img {
            border-radius: 20px;
        }
    }
}

#join {
    .banner {
        display: flex;
        width: 100%;
        height: 400px;
        border-radius: 30px;
        overflow: hidden;
        &__left {
            height: 100%;
            width: 350px;
            background: $primaryDarker;
            color: #fff;
            text-align: center;
            position: relative;
            .text-wrapper {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 15px;
                h4 {
                    font-family: "Mulish", Arial, Helvetica, sans-serif;
                    font-size: $title-sm;
                    line-height: 2.5;
                }
                p {
                    font-size: $body-md;
                }
                button {
                    border: 1px solid #fff;
                    color: #fff;
                    background: transparent;
                    padding: 15px 50px;
                    border-radius: 50px;
                    margin-top: 30px;
                }
            }
        }
        &__right {
            height: 100%;
            width: calc(100% - 350px);
            background-image: url("/images/section-join.jpg");
            background-size: cover;
        }
    }
}
