#main-register {
    .register {
        .title-register {
            background-color: white;
            border-bottom: 0px;
            text-align: center;

            h2 {
                color: $primaryDark;
                font-size: $title-sm;
            }
            h5 {
                color: $primaryLight;
            }
        }
        .body-register {
            button {
                width: 100%;
                transition: 250ms ease-in-out;
                &:hover {
                    transform: unset;
                    color: #fff;
                }
            }
        }
    }
}
