#search-page {
    #search {
        display: flex;
        z-index: 100;
        min-height: calc(100vh - 205px);
        .search__results {
            width: 60%;
            @include mq-medium {
                width: 100%;
            }
        }
        .searchbar {
            height: 100px;
            background-color: white;
            padding: 20px 0;
            input:not([type='range']) {
                height: 50px;
                border: none;
                padding: 0 15px;
                background: $gray-200;
                border-radius: 10px;
            }
            .large-container {
                @include flex-center-vert;
                justify-content: space-between;
                height: 100%;
            }
            .main-searchbar {
                position: relative;
            }
            .range {
                @include flex-center-vert;
                gap: 10px;
                label {
                    display: block;
                }
            }
            button {
                border: 1px solid $primary;
                background-color: $primary;
                color: #fff;
                padding: 11px;
                border-radius: 10px;
                transition: transform 250ms ease-in-out;
                &:hover {
                    transform: scale(1.05);
                    color: currentColor;
                }
                &:active {
                    transform: scale(0.95);
                }
            }

        }
        .filters {
            height: 100px;
            margin-top: 25px;
            padding: 20px 0;
            .large-container {
                @include flex-center-vert;
                justify-content: space-between;
                height: 100%;
            }
            select {
                width: 145px;
                height: 40px;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                background: transparent;
                border: 1px solid $primaryLight;
            }
        }
        .results {
            h3 {
                font-family: "Mulish", Arial, Helvetica, sans-serif;
                font-size: $title-xs;
                font-weight: 700;
            }
            ul {
                margin-top: 15px;
            }
            .card-apartment {
                height: 175px;
                width: 100%;
                background: #fff;
                @include flex-center-vert;
                justify-content: space-between;
                padding: 20px 45px 20px 10px;
                border-radius: 20px;
                margin-bottom: 20px;
                box-shadow: 0 4px 15px rgba($gray-500, 0.25);
            }
            .card-apartment__info {
                height: 100%;
                @include flex-center-vert;
                img {
                    height: 150px;
                    width: 225px;
                    object-fit: cover;
                    margin-right: 25px;
                    border-radius: 10px;
                }
                .text {
                    height: 100%;
                    @include flex-column;
                    justify-content: space-between;
                    .text__info {
                        h6 {
                            font-family: "Mulish", Arial, Helvetica, sans-serif;
                            font-size: $body-lg;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: -2;
                        }
                        p {
                            font-size: $body-xs;
                        }
                    }
                    .text__services {
                        display: flex;
                        gap: 15px;
                        li {
                            font-size: $body-xs;
                            color: $primaryLight;
                        }
                    }
                }
            }
            .card-apartment__price {
                height: 100%;
                @include flex-column;
                justify-content: space-between;
                h4 {
                    font-family: "Mulish", Arial, Helvetica, sans-serif;
                    font-size: $title-xs;
                    color: $primary;
                    font-weight: 600;
                }
                p {
                    color: $primaryLight;
                }
                a {
                    background: rgba(#076CF9, 0.15);
                    border: none;
                    color: $primary;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
        .search__map {
            width: 40%;
            @include mq-medium {
                display: none;
            }
        }
        #map {
            position: fixed;
            height: 100vh;
            width: 100%;
        }
    }
}
