#search-page {
    #search {
        display: flex;
        z-index: 100;
        @media only screen and (max-width: 1160px) {
            display: block;
        }
        .search__results {
            min-height: 100vh;
            flex-basis: 60%;
            @media only screen and (max-width: 1160px) {
                width: 100%;
            }
        }
        .search__map {
            flex-basis: 40%;
            @media only screen and (max-width: 1160px) {
                width: 100%;
            }
        }
        .searchbar {
            height: 150px;
            background-color: white;
            padding: 20px 0;
            input:not([type="range"]) {
                height: 45px;
                border: none;
                padding: 8px 10px;
                background: $gray-200;
                border-radius: 10px;
                color: grey;
            }
            .large-container {
                @include flex-center-vert;
                justify-content: space-between;
                height: 100%;
                @include mq-medium {
                    flex-wrap: wrap;
                }
            }
            .main-searchbar {
                flex-basis: 60%;
                position: relative;
                @include flex-center-vert;
                justify-content: space-between;
                gap: 30px;
                @include mq-medium {
                    flex-basis: 100%;
                    justify-content: space-between;
                }
                .search-form {
                    flex-basis: calc(70% - 15px);
                }
                .range {
                    flex-basis: 20%;
                    @include flex-center-vert;
                    gap: 10px;
                    margin-right: 20px;
                }
            }

            .date {
                flex-basis: 40%;
                @include flex-center;
                gap: 20px;
                margin-right: 20px;
            }
            button {
                border: 1px solid $primary;
                background-color: $primary;
                color: #fff;
                padding: 5px;
                border-radius: 8px;
                transition: transform 250ms ease-in-out;
                &:hover {
                    transform: scale(1.05);
                    color: currentColor;
                }
                &:active {
                    transform: scale(0.95);
                }
            }
        }
        .filters {
            height: 100px;
            margin-top: 25px;
            padding: 20px 0;
            .large-container {
                @include flex-center-vert;
                justify-content: space-between;
                height: 100%;
                gap: 25px;
                @include mq-medium {
                    @include flex-center;
                }
                & > div {
                    max-width: calc((100% / 4) - 25px);
                }
            }
            select {
                display: block;
                height: 40px;
                width: 160px;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                background: $gray-100;
                border: 1px solid $primaryLight;
                @include mq-medium {
                    width: 100px;
                }
            }

            .multiselect {
                width: 160px;
                @include mq-medium {
                    width: 100px;
                }
                .selectBox {
                    position: relative;
                    select {
                        width: 100%;
                    }
                    .overSelect {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0px;
                        bottom: 0;
                    }
                }
            }

            #checkboxes {
                height: 200px;
                width: 200px;
                display: none;
                background: #fff;
                box-shadow: 0 4px 15px rgba($gray-500, 0.15);
                flex-direction: column;
                padding: 20px;
                border-radius: 10px;
                position: absolute;
                top: auto;
                overflow-y: auto;
                .template-container {
                    display: flex;
                    gap: 10px;
                }
                label {
                    &:hover {
                        background-color: $primaryLighter;
                    }
                }
            }
        }

        .results {
            h3 {
                font-family: "Mulish", Arial, Helvetica, sans-serif;
                font-size: $title-xs;
                font-weight: 700;
            }
            ul {
                margin-top: 15px;
            }
            .card-apartment {
                height: 175px;
                width: 100%;
                background: #fff;
                @include flex-center-vert;
                justify-content: space-between;
                padding: 20px 45px 20px 10px;
                border-radius: 20px;
                margin-bottom: 20px;
                box-shadow: 0 4px 15px rgba($gray-500, 0.15);
            }
            .card-apartment__info {
                height: 100%;
                @include flex-center-vert;
                img {
                    height: 150px;
                    width: 225px;
                    object-fit: cover;
                    margin-right: 25px;
                    border-radius: 10px;
                    @include mq-small {
                        width: 100px;
                    }
                }
                .text {
                    height: 100%;
                    @include flex-column;
                    justify-content: space-between;
                    .text__info {
                        h6 {
                            font-family: "Mulish", Arial, Helvetica, sans-serif;
                            font-size: $body-lg;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: -2;
                        }
                        p {
                            font-size: $body-xs;
                        }
                    }
                    .text__services {
                        display: flex;
                        gap: 15px;
                        li {
                            font-size: $body-xs;
                            color: $primaryLight;
                        }
                    }
                }
            }
            .card-apartment__price {
                height: 100%;
                @include flex-column;
                justify-content: space-between;
                h4 {
                    font-family: "Mulish", Arial, Helvetica, sans-serif;
                    font-size: $title-xs;
                    color: $primary;
                    font-weight: 600;
                }
                p {
                    color: $primaryLight;
                }
                a {
                    background: rgba(#076cf9, 0.15);
                    border: none;
                    color: $primary;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
        #map {
            position: fixed;
            height: calc(100vh - 85px);
            width: 100%;
            max-width: 40%;
            @media only screen and (max-width: 1160px) {
                display: block;
                position: relative;
                height: 600px;
                border-radius: 20px;
                max-width: 85%;
                padding: 0 25px;
                margin: 25px auto;
            }
        }
        .mapboxgl-map{
            width: 40% !important;
            @include mq-large {
                width: 80% !important;
            }
        }
    }
}
