#main-show {
    margin: 110px 0 0;
    h1 {
        font-family: "Mulish", Arial, Helvetica, sans-serif;
        font-size: $title-md;
        font-weight: 700;
        margin: 20px 0;
    }
    .container {
        padding-bottom: 70px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        @media (min-width: 768px) and (max-width: 1445px) {
            padding: 0px 80px;
        }
    }
    .reviews {
        @include flex-center-vert;
        margin-bottom: 25px;
        gap: 25px;
        & > span {
            @include flex-center-vert;
        }
        svg {
            margin-right: 10px;
        }
        p {
            font-size: $body-sm;
            color: $gray-600;
        }
        .reviews-vote {
            color: $primaryDarker;
            font-weight: 600;
        }
    }

    .img-container {
        height: 600px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        img {
            border-radius: 15px;
        }
        .big-image {
            height: 100%;
            width: 100%;
            max-width: calc(100% - 335px);
            object-fit: cover;
            @include mq-large {
                width: 50%;
                max-width: 50%;
            }
            img {
                width: 100%;
                object-position: center;
            }
        }
        .preview-img {
            @include flex-column;
            height: 100%;
            width: 335px;
            gap: 10px;
            @include mq-large {
                width: 50%;
                max-width: 50%;
            }
            img {
                height: calc((100% / 2) - 5px);
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .summary {
        width: 100%;
        display: flex;
        margin-bottom: 40px;
        @include mq-large {
            flex-wrap: wrap;
        }
        &__left {
            flex-basis: 60%;
            @include mq-large {
                flex-basis: 100%;
            }
            @include mq-medium {
                padding: 0 25px;
            }
        }
        &__right {
            flex-basis: 40%;
            @include mq-large {
                flex-basis: 100%;
            }
        }
    }

    .summary__left {
        padding-right: 50px;
        .host {
            p:first-child {
                display: inline-block;
                font-size: $body-sm;
                color: $gray-600;
            }
            p:last-child {
                display: inline-block;
                font-size: $body-md;
                color: $primaryDarker;
                font-weight: 600;
            }
        }
        .description {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid $gray-400;
            &__features {
                margin-bottom: 40px;
                @include flex-center-vert;
                gap: 20px;
                & > span {
                    @include flex-center-vert;
                }
            }
            &__text {
                p {
                    font-size: $body-md;
                    color: $gray-600;
                }
            }
        }
        .amenities {
            h3 {
                font-family: "Mulish", Arial, Helvetica, sans-serif;
                font-size: $title-xs;
                font-weight: 700;
                margin: 20px 0;
            }
            .list {
                @include flex-center-vert;
            }
            ul {
                width: 250px;
                @include mq-large {
                    width: 100%;
                }
                li {
                    font-size: $body-md;
                    color: $gray-600;
                    width: fit-content;
                }
            }
        }
    }

    .summary__right {
        .messages {
            max-width: 650px;
            padding: 30px;
            background-color: #fff;
            border-radius: 15px;
            margin-top: 30px;
            box-shadow: 0 4px 15px rgba($gray-500, 0.15);
            @include mq-large {
                max-width: 100%;
            }
            h4 {
                font-family: "Mulish", Arial, Helvetica, sans-serif;
                font-size: $title-xs;
                font-weight: 700;
                margin: 10px 0 20px;
            }
            label {
                font-size: $body-sm;
                color: $gray-600;
            }
            input,
            textarea {
                border: none;
                border-radius: 10px;
                background: $gray-200;
                padding: 25px;
            }
            textarea {
                resize: none;
            }
            button:hover {
                color: #fff;
            }
        }
    }
}
