* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $primaryLighter;
}
main {
    margin-top: 90px;
}
button,
button:focus,
button:active,
input:focus,
[type="button"],
[type="reset"],
[type="submit"] {
    outline: none;
    -webkit-appearance: unset;
}
ol,
ul,
dl {
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
[v-cloak] {
    display: none;
}
