.btn{
  border-radius: 10px;
  padding: 10px 20px;
}
.btn-login{
  border: 1px solid $primaryLight;
  color: $primaryDark;
}
.btn-signup{
  border: 1px solid $primary;
  background-color: $primary;
  color: $primaryLighter;
}

.btn-link {
  font-weight: 300;
  font-size: 13px;
  color: #007bff;
  text-decoration: none;
  float: right;
  padding: 10px 0px;
}

.btn-link:hover{
  text-decoration: none;
}

.btn-primary{
  width: 100%;
  border-radius: 30px;
  border: none;
  background: $primary;
  color: white;
}

