.hero-wrapper {
    height: 650px;
    background-image: url("/images/hero-background.jpg");
    background-size: cover;
    background-position: left 65%;
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 95%;
    margin: auto;
    position: relative;

    .hero-title {
        position: absolute;
        max-width: 300px;
        top: 160px;
        left: 100px;

        .content h2 {
            font-size: $title-xl;
            color: $primaryDark;
        }

        p {
            color: $primaryDark;
        }
    }

    .hero-search {
        position: absolute;
        width: 85%;
        padding: 25px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 4px 15px rgba($gray-500, 0.25);
        bottom: -25px;
        right: 50%;
        transform: translateX(50%);

        form {
            @include flex-center-vert;
            flex-wrap: wrap;
            gap: 25px;
            input {
                height: 50px;
                display: inline-block;
                border-radius: 12px;
                padding: 0 25px;
                color: $primaryDark;
                &[type="search"] {
                    flex-basis: calc(40% - 25px);
                    border: none;
                    background: #f2f4f8;
                    @include mq-medium {
                        order: -1;
                    }
                }
                &[type="date"] {
                    flex-basis: calc(25% - 25px);
                    border: 1px solid #f2f4f8;
                    background: transparent;
                    order: 2;
                }
            }
            button {
                height: 50px;
                width: 100;
                flex-basis: calc(10% - 25px);
                border-radius: 12px;
                order: 3;
                @include flex-center-vert;
                @include mq-medium {
                    order: 1;
                }
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
}
