footer {
    background-color: $primaryLighter;
    padding-bottom: 75px;
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        align-items: center;

        .logo {
            font-family: "Mulish";
            font-weight: 700;
            color: $primaryDark;
            font-size: $title-xs;
        }

        div[class^="col"]{
            display: block;
        }

        div[class^="col"] {
            a {
                color: $primaryDark;
                font-size: $body-sm;
                font-weight: 600;
    
                &.joinCommunity {
                    font-size: $body-xs;
                    font-weight: 800;
                }
            }
        }
    }
}
