.m-header {
    position: absolute;
    left: 0;
    top: 0;

    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
    }

    .m-header__wrapper {
        width: 100%;
        background: $primaryLighter;
        @include flex-center;
        height: 85px;
        position: fixed;
        z-index: 100;

        h1 {
            font-family: "Mulish";
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 0;
            @include mq-medium {
                display: none;
            }
        }
        @media (min-width: 768px) {
            padding: 0 32px;
        }
    }
}

.-menu-open .m-header__wrapper {
    transition: color 0.3s, background-color 0s;
    color: #fff;
    background: $primaryDarker;
    @media (min-width: 768px) {
        background: none;
    }
}
.m-header.-show .m-header__wrapper {
    background: #fff;
    color: $primaryDarker;
    border-bottom: 1px solid $primaryDarker;
}
.m-header__logo {
    display: block;
    width: 16rem;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    @media (min-width: 768px) {
        left: 32px;
    }
}
.m-header__logo span > svg {
    display: none;
    object-fit: cover;
    object-position: center;
    @include mq-medium {
        display: block;
    }
}
.m-header__nav {
    ul {
        @include flex-center;
        gap: 20px;
        li {
            font-size: $body-sm;
            transition: 0.2s ease-in-out;
            &:hover {
                color: $primaryLight;
            }
        }
    }
    @include mq-large {
        display: none;
    }
}
.m-header__cta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    @include mq-large {
        display: none;
    }
    a {
        margin-left: 10px;
        &:last-child {
            &:hover {
                color: #fff;
            }
        }
    }
}
.m-header__btn {
    display: none;
    width: 24px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 24px;
    @media (min-width: 768px) {
        right: 32px;
    }
    @include mq-large {
        display: block;
    }
}

.m-header__btn span {
    display: block;
    position: absolute;
    right: 0;
    height: 3px;
    background: currentColor;
    width: 50%;
    transition: transform 0.4s;
    transform-origin: 100% 50%;
}

.-menu-open .m-header__btn span {
    transform: translate(-12px, 8px) rotate(-45deg);
}

.m-header__btn span + span {
    width: 100%;
    right: 0;
    left: 0;
    transform-origin: 50% 50%;
    transform: translateY(8px);
}

.-menu-open .m-header__btn span + span {
    transform: translateY(8px) rotate(-135deg);
}

.m-header__btn span + span + span {
    width: 50%;
    left: 0;
    transition-delay: 0s;
    transform-origin: 0 50%;
    transform: translateY(16px);
    right: auto;
}

.-menu-open .m-header__btn span + span + span {
    transform: translate(12px, 8px) rotate(-45deg);
}

.m-header__menu {
    position: fixed;
    pointer-events: auto;
    height: calc(100vh);
    height: calc(var(--vh, 1vh) * 100);
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    background: $primaryDarker;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.2s;
    z-index: 99;
}

.-menu-open .m-header__menu {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.m-header__menu-wrapper {
    height: calc(100vh);
    height: calc(var(--vh, 1vh) * 100);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 10rem calc(1 / 14 * 100vw);
    z-index: 2;
    @media (min-width: 768px) {
        overflow: hidden;
        min-height: 100%;
        display: flex;
        align-items: center;
        max-width: calc(90rem + calc(2 / 14 * 100vw));
        margin: 0 auto;
    }
}

.m-header__menu-inner {
    width: 100%;
    position: relative;
    z-index: 2;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.m-header__primary {
    font-size: 4.8rem;
    line-height: 5.2rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 4rem;
    @media (min-width: 576px) and (min-width: 768px) {
        font-size: 6.4rem;
        line-height: 7rem;
        letter-spacing: -2px;
    }
    @media (min-width: 768px) {
        font-size: 7.6rem;
        line-height: 8.2rem;
    }
    @media (min-width: 1024px) {
        font-size: 12rem;
        line-height: 14rem;
    }
}

.m-header__primary li {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    a {
        color: #fff;
        &:hover {
            color: $primary;
        }
    }
    &:nth-child(1) {
        transition-delay: 0.03s;
    }

    &:nth-child(2) {
        transition-delay: 0.06s;
    }

    &:nth-child(3) {
        transition-delay: 0.09s;
    }
}

.-menu-open .m-header__primary li {
    transform: translateY(0);
    opacity: 1;
}

.m-header__primary li + li {
    margin-top: 0.8rem;
}

.m-header__primary li a {
    transition: color 0.3s;
}

.m-header__secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-header__submenu {
    font-size: 1.8rem;
    line-height: 2.7rem;
    letter-spacing: -1px;
    @media (min-width: 1024px) {
        font-size: 2rem;
        line-height: 2.6rem;
        letter-spacing: -1px;
    }
}

.m-header__submenu + .m-header__submenu {
    margin-top: 3.2rem;
}

.m-header__submenu li {
    margin-top: 0.8rem;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    &:nth-child(1) {
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: 1px;
        color: $primary;
        margin-bottom: 0.8rem;
        transition-delay: 0.03s;
    }

    &:nth-child(2) {
        transition-delay: 0.06s;
    }

    &:nth-child(3) {
        transition-delay: 0.09s;
    }

    &:nth-child(4) {
        transition-delay: 0.12s;
    }

    &:nth-child(5) {
        transition-delay: 0.15s;
    }

    &:nth-child(6) {
        transition-delay: 0.18s;
    }
}

.-menu-open .m-header__submenu li {
    transform: translateY(0);
    opacity: 1;
}

.m-header__submenu li span,
.m-header__submenu li img {
    display: block;
}

.m-header__submenu li img {
    margin-bottom: 0.8rem;
    max-width: 12rem;
}

.m-header__submenu li a {
    transition: color 0.3s;
    &:hover {
        color: $primary;
    }
}
