.container {
    max-width: 1440px;
    margin: auto;
}
.small-container {
    max-width: 1200px;
    margin: auto;
}
.large-container {
    padding: 0 50px;
    @include mq-medium {
        padding: 0 25px;
    }
}
.-hide {
    display: none;
}
.back-main {
    margin-top: 25px;
}
