// Media queries
@mixin mq-large {
    @media only screen and (max-width: $large * 1px) {
        @content;
    }
}
@mixin mq-medium {
    @media only screen and (max-width: $medium * 1px) {
        @content;
    }
}
@mixin mq-small {
    @media only screen and (max-width: $small * 1px) {
        @content;
    }
}

// Flexbox Toolkit
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}
@mixin flex-center-vert {
    display: flex;
    align-items: center;
}
@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

// Pseudo Element
@mixin pseudo {
    $display: block;
    $pos: absolute;
    $content: "";
}

// Absolute positioning
@mixin abs-position($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Text truncate
@mixin truncate($height-limit) {
    height: $height-limit;
    overflow: hidden;
    text-overflow: hidden;
    text-overflow: ellipsis;
}

// Box
@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}
