.dashboard {
    h1,
    h3 {
        font-family: "Mulish", Arial, Helvetica, sans-serif;
        color: $primaryDarker;
    }
    h1 {
        font-size: $title-xs;
        font-weight: 900;
        margin-right: 30px;
    }
    h3 {
        font-size: $body-lg;
        font-weight: 700;
    }
    section {
        margin-bottom: 30px;
        .card {
            border: none;
            border-radius: 10px;
            &__header {
                @include flex-center-vert;
                justify-content: space-between;
                padding: 22px 30px;
                height: 80px;
            }
            &__main {
                padding: 5px 30px 25px 30px;
                height: 420px;
            }
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        &__text,
        &__date {
            @include flex-center;
        }
        &__text {
            color: $primaryLight;
        }
        &__date {
            p {
                margin-left: 10px;
                font-weight: 500;
            }
        }
    }
    .searchbar {
        background: $primaryLighter;
        position: relative;
        border-radius: 6px;
        input {
            color: $primaryLight;
            background: transparent;
            font-size: 11px;
            height: 36px;
            width: 100%;
            padding-left: 12px;
            padding-right: 42px;
            overflow: hidden;
            border: 0;
        }
        .btn {
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
    .user-info {
        table {
            width: 100%;
            th,
            td {
                padding: 5px;
                text-align: left;
            }
        }
    }
    .messages{
        .card__main{
            .table{
                tbody{
                    display: block;
                    height: 300px;
                    overflow: auto;
                    button{
                        all:unset;
                        padding: 5px 10px;
                        border-radius: 10px;
                        border: 1px solid $primaryLight;
                        color: $primaryDark;
                    }
                }
                thead, tbody tr{
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
            }
            th, td{
                vertical-align: middle;
            }
        }
    }
    .apartments {
        .table {
            tbody {
                display: block;
                height: 300px;
                overflow: auto;
                td {
                    border: none;
                    width: 100%;
                }
                img {
                    height: 30px;
                    width: 50px;
                }
            }

            thead, tbody tr{
                display: table;
                width: 100%;
                table-layout: fixed;
            }

        }
    }
    .sponsorization {
        ul {
            overflow-y: auto;
            height: 100%;
        }
        li {
            @include flex-center;
            justify-content: space-between;
            background: $primaryLighter;
            color: $primaryDark;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 15px;
            .guest {
                @include flex-center;
                img {
                    margin-right: 15px;
                    border-radius: 50%;
                }
            }
        }
    }
}
